[submodule "boards"]
	path = boards
	url = https://github.com/OS-Q/B51.git
[submodule "builder/extend"]
	path = builder/extend
	url = https://github.com/OS-Q/E51.git
[submodule "examples/template-A"]
	path = examples/template-A
	url = https://github.com/OS-Q/T51A.git
